[workspace]
resolver = "2"
members = ["zirgen/circuit/fib", "zirgen/dsl"]

[workspace.dependencies.risc0-binfmt]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"

[workspace.dependencies.risc0-build]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"

[workspace.dependencies.risc0-core]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"
default-features = false

[workspace.dependencies.risc0-zkp]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"
default-features = false

[workspace.dependencies.risc0-zkvm]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"
default-features = false

[workspace.dependencies.risc0-circuit-recursion]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"
default-features = false

[workspace.dependencies.risc0-zkvm-platform]
git = "https://github.com/risc0/risc0.git"
rev = "6d5b96d23e8f3ab25b220c0a62e41462e00cc5e9"

[workspace.dependencies.zirgen-dsl]
path = "zirgen/dsl"

[profile.bench]
lto = true

# Always optimize; otherwise tests take excessively long.
[profile.dev]
opt-level = 3

[profile.dev.build-override]
opt-level = 3

[profile.release]
debug = 1
lto = true

[profile.release.build-override]
opt-level = 3

